{
  "extends": "eslint-config-egg",
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["warn", "never"],
    "strict": "off",
    "comma-dangle": "off",
    "space-before-function-paren": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
